<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main {
            width: auto;
            height: auto;
            display: flex;
            justify-content: space-around;
        }
        .box {
            height: 200px;
            width: 200px;
            border-radius: 10px;
            background-color: {{phrase}} ;
            
        }
    </style>
</head>
<body>
    <div class="main">
        {% for x in range(0,times): %}
        
        <div class="box"></div>
        {% endfor %}

    </div>
</body>
</html>